Testing suicidal as target vector

The EDA has been done so far. Thats why we skip this here.

In [1]:
# import modules 
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

# Modelle
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

# Pipeline
from sklearn.pipeline import Pipeline
# Columntransormer
from sklearn.compose import ColumnTransformer
# OneHotEndode,, Scaler
from sklearn.preprocessing import OneHotEncoder, StandardScaler

# Train/Test Splitt, Crossvaue-Score, SimpleImputer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures

In [3]:
df_cleaned = pd.read_csv("cleaned_data_set.csv")

In [4]:
df_cleaned.head()

,id,school_year,age,gender,bmi,who_bmi,phq_score,depression_severity,depressiveness,suicidal,depression_diagnosis,depression_treatment,gad_score,anxiety_severity,anxiousness,anxiety_diagnosis,anxiety_treatment,epworth_score,sleepiness
0,1,1,19,1,33.333333,Class I Obesity,9,Mild,0,False,False,False,11,Moderate,True,False,False,7.0,False
1,2,1,18,1,19.841270,Normal,8,Mild,0,False,False,False,5,Mild,False,False,False,14.0,True
2,3,1,19,1,25.102391,Overweight,8,Mild,0,False,False,False,6,Mild,False,False,False,6.0,False
3,4,1,18,0,23.738662,Normal,19,Moderately severe,1,True,False,False,15,Severe,True,False,False,11.0,True
4,5,1,18,1,25.617284,Overweight,6,Mild,0,False,False,False,14,Moderate,True,False,False,3.0,False

In [5]:
def data_processing (dataframe):
    dataframe.gender = dataframe.gender.map({'male':1, 'female':0})
    dataframe['depressiveness'] = dataframe['depressiveness'].astype(int)
    dataframe['suicidal'] = dataframe['suicidal'].astype(int)
    dataframe['depression_diagnosis'] = dataframe['depression_diagnosis'].astype(int)
    dataframe['depression_treatment'] = dataframe['depression_treatment'].astype(int)
    dataframe['anxiousness'] = dataframe['anxiousness'].astype(int)
    dataframe['anxiety_diagnosis'] = dataframe['anxiety_diagnosis'].astype(int)
    dataframe['anxiety_treatment'] = dataframe['anxiety_treatment'].astype(int)
    dataframe['sleepiness'] = dataframe['sleepiness'].astype(int)
    return dataframe

df_really_clean = data_processing(df_cleaned)

In [6]:
df_really_clean.head()

,id,school_year,age,gender,bmi,who_bmi,phq_score,depression_severity,depressiveness,suicidal,depression_diagnosis,depression_treatment,gad_score,anxiety_severity,anxiousness,anxiety_diagnosis,anxiety_treatment,epworth_score,sleepiness
0,1,1,19,NaN,33.333333,Class I Obesity,9,Mild,0,0,0,0,11,Moderate,1,0,0,7.0,0
1,2,1,18,NaN,19.841270,Normal,8,Mild,0,0,0,0,5,Mild,0,0,0,14.0,1
2,3,1,19,NaN,25.102391,Overweight,8,Mild,0,0,0,0,6,Mild,0,0,0,6.0,0
3,4,1,18,NaN,23.738662,Normal,19,Moderately severe,1,1,0,0,15,Severe,1,0,0,11.0,1
4,5,1,18,NaN,25.617284,Overweight,6,Mild,0,0,0,0,14,Moderate,1,0,0,3.0,0